
.show-hide {
	position: absolute;
	top: 18px;
	right: 30px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	text-transform: capitalize;
	z-index: 2;
}

.show-hide span {
	cursor: pointer;
	font-size: 13px;
	color: #24695c;
}

.show-hide span .show-hide span:before {
	content: "hide";
}

.show-hide span.show:before {
	content: "show";
}

.needs-validation label {
	opacity: 0.7;
	margin-bottom: 10px;
}

.needs-validation .invalid-tooltip {
	top: -35px;
	right: 10px;
}

.login-card {
	background-color: rgba(36, 105, 92, 0.1);
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0 auto;
	padding: 30px 12px;
}

.login-form {
	padding: 30px;
	width: 500px;
	background-color: #fff;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

.login-form h4 {
	text-transform: capitalize;
	font-weight: 600;
	margin-bottom: 5px;
	font-size: 22px;
}

.login-form h6 {
	font-size: 14px;
	margin-bottom: 25px;
	color: #999;
}

.login-form .btn {
	text-transform: uppercase;
	font-weight: 700;
	margin-left: auto;
	display: block;
}

.login-form p {
	font-weight: 600;
	text-align: center;
	margin-bottom: unset;
}

.login-form .form-group {
	position: relative;
}

.login-form .form-group label {
	font-weight: 600;
	text-transform: capitalize;
	margin-bottom: 5px;
}

.login-form .form-group .input-group-text {
	background-color: rgba(36, 105, 92, 0.1);
	border: none;
	color: #24695c;
}

.login-form .form-group input {
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.login-form .form-group .form-control::-webkit-input-placeholder {
	font-weight: 400;
}

.login-form .form-group .form-control::-moz-placeholder {
	font-weight: 400;
}

.login-form .form-group .form-control:-ms-input-placeholder {
	font-weight: 400;
}

.login-form .form-group .form-control::-ms-input-placeholder {
	font-weight: 400;
}

.login-form .form-group .form-control::placeholder {
	font-weight: 400;
}

.login-form .form-group .form-control:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.login-form .form-group .checkbox {
	display: inline-block;
}

.login-form .form-group .checkbox label {
	padding-top: 0;
	margin-top: 0;
	color: #999;
}

.login-form .form-group .checkbox label span {
	color: rgba(36, 105, 92, 0.5);
}

.login-form .form-group .link {
	float: right;
	font-weight: 500;
}

.login-form .form-group .small-group {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.login-form .form-group .small-group .input-group:nth-child(n+2) {
	margin-left: 10px;
}

.login-form ul.login-social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.login-form ul.login-social li {
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color: rgba(36, 105, 92, 0.08);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-radius: 5px;
}

.login-form ul.login-social li a {
	line-height: 1;
}

.login-form ul.login-social li a svg {
	width: 16px;
	height: auto;
}

.login-form ul.login-social li:nth-child(n+2) {
	margin-left: 10px;
}

.login-form .login-social-title {
	position: relative;
	margin-bottom: 20px;
	z-index: 2;
}

.login-form .login-social-title::before {
	content: '';
	position: absolute;
	top: 10px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #999;
	z-index: -1;
}

.login-form .login-social-title h5 {
	font-weight: 600;
	font-size: 16px;
	color: #999;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #fff;
}

@media (max-width: 575px) {
	.login-form .form-group .link {
		float: unset;
	}

	.login-form .btn {
		margin-left: unset;
	}
}

@media (max-width: 480px) {
	.login-form {
		width: 100%;
	}
}
