
.checkout label {
	color: #2c323f;
}

.checkout .checkout-details {
	border: 1px solid #e6edef;
	padding: 40px;
}

.checkout .checkout-details .order-place {
	margin-top: 20px;
}

.order-box .title-box {
	padding-bottom: 20px;
	font-size: 22px;
	border-bottom: 1px solid #e6edef;
}

.order-box .title-box span {
	width: 35%;
	float: right;
	font-weight: 600;
	text-align: right;
}

.order-box .title-box h4 {
	font-weight: 600;
}

.order-box .title-box .checkbox-title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.order-box .sub-total li {
	position: relative;
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	width: 100%;
}

.order-box .sub-total li:nth-child(n+2) {
	margin-top: 15px;
}

.order-box .sub-total li .count {
	position: relative;
	font-size: 18px;
	line-height: 20px;
	width: 35%;
	float: right;
	text-align: right;
}

.order-box .sub-total .shipping-class {
	margin-bottom: 12px;
	padding-bottom: 15px;
	border-bottom: 1px solid #e6edef;
}

.order-box .sub-total .shipping-class .shopping-checkout-option {
	margin-top: -4px;
	position: relative;
	font-size: 18px;
	line-height: 20px;
	color: #24695c;
	font-weight: 400;
	width: 35%;
	float: right;
}

.order-box .sub-total .shipping-class .shopping-checkout-option label {
	font-weight: 500;
	font-size: 14px;
	text-align: right;
}

.order-box .total {
	position: relative;
	margin-bottom: 30px;
}

.order-box .total li {
	position: relative;
	display: block;
	line-height: 20px;
	font-size: 18px;
}

.order-box .qty {
	position: relative;
	border-bottom: 1px solid #e6edef;
	margin-bottom: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
}

.order-box .qty li {
	position: relative;
	display: block;
	font-size: 14px;
	font-weight: 500;
}

.order-box .qty li:nth-child(n+2) {
	margin-top: 15px;
}

.order-box .qty li span {
	float: right;
	font-size: 18px;
	line-height: 20px;
	font-weight: 500;
	width: 35%;
	text-align: right;
}

.radio-option {
	position: relative;
}

.img-paypal {
	width: 50%;
	margin-left: 15px;
}




/**=====================
    Responsive CSS Start
==========================**/
@media screen and (max-width: 1199px) {
	.checkout .checkout-details {
		padding: 25px;
	}

	.order-box .title-box span {
		width: 30%;
	}

	.order-box .sub-total li .count {
		width: 30%;
	}

	.order-box .sub-total .shipping-class .shopping-checkout-option {
		width: 32%;
	}

	.order-box .qty li span {
		width: 30%;
	}

	.order-box .total li .count {
		width: 30%;
	}
}

@media screen and (max-width: 991px) {
	.order-box .title-box h4 {
		font-size: 18px;
	}

	.order-box .title-box span {
		font-size: 18px;
	}

	.order-box .qty li {
		font-size: 14px;
	}

	.order-box .qty li span {
		font-size: 16px;
	}

	.order-box .sub-total li {
		font-size: 14px;
	}

	.order-box .sub-total li .count {
		font-size: 16px;
	}

	.order-box .sub-total .shipping-class .shopping-checkout-option {
		width: 30%;
	}

	.order-box .animate-chk label {
		font-size: 14px;
	}
}

@media screen and (max-width: 575px) {
	.order-box .title-box {
		padding-bottom: 15px;
	}

	.order-box .sub-total .shipping-class .shopping-checkout-option {
		width: 50%;
	}

	.order-box .sub-total li .count {
		width: 50%;
	}

	.order-box .animate-chk label {
		font-size: 12px;
		margin-bottom: 10px;
	}

	.checkout .checkout-details {
		padding: 20px;
	}
}

@media screen and (max-width: 420px) {
	.order-box .qty li {
		font-size: 13px;
	}

	.order-box .qty li span {
		font-size: 14px;
	}

	.order-box .sub-total li .count {
		font-size: 14px;
	}
}

/**=====================
    84. Checkout CSS ends
==========================**/