.icon-addon .addon-md .glyphicon, .icon-addon .addon-md .fa {
	position: absolute;
	z-index: 2;
	left: 10px;
	font-size: 14px;
	width: 20px;
	margin-left: -2.5px;
	text-align: center;
	padding: 10px 0;
	top: 1px;
}

.icon-addon .glyphicon, .icon-addon .fa {
	position: absolute;
	z-index: 2;
	left: 10px;
	font-size: 14px;
	width: 20px;
	margin-left: -2.5px;
	text-align: center;
	padding: 10px 0;
	top: 1px;
}

.input-group-square .input-group-text, .input-group-square .form-control {
	border-radius: 0;
}

.input-group-solid .input-group-text, .input-group-solid .form-control {
	background: #e6edef;
}

.input-group-air {
	-webkit-box-shadow: 0 3px 20px 0 #efefef;
	box-shadow: 0 3px 20px 0 #efefef;
}

.icon-addon {
	position: relative;
	color: #4c5667;
	display: block;
}

.icon-addon:after {
	display: table;
	content: "";
	clear: both;
}

.icon-addon:before {
	display: table;
	content: "";
}

.icon-addon .addon-md .form-control {
	padding-left: 30px;
	float: left;
	font-weight: normal;
}

.icon-addon .form-control {
	padding-left: 30px;
	float: left;
	font-weight: normal;
}

.pill-input-group div:last-child span {
	border-top-right-radius: 1.3rem;
	border-bottom-right-radius: 1.3rem;
}

.pill-input-group div:first-child span {
	border-top-left-radius: 1.3rem;
	border-bottom-left-radius: 1.3rem;
}